* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    background: #00162d;
    box-sizing: border-box;
    color: #f6f6f6;
}

body {
    font-family: "Segoe UI", /* Windows */
                 Oxygen-Sans, /* KDE */
                 Ubuntu, /* Ubuntu */
                 Cantarell, /* GNOME */
                 "Helvetica Neue",
                 sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.45;
}

img {
    height: 100%;
}

a, button {
    cursor: pointer;
}
