@import "core-styling/layout.css";
@import "core-styling/typography.css";

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    background: #282c37;  /* fallback for old browsers */
    color:#FFF;    
}

body {
    font-family: "Segoe UI", /* Windows */
                 Oxygen-Sans, /* KDE */
                 Ubuntu, /* Ubuntu */
                 Cantarell, /* GNOME */
                 "Helvetica Neue",
                 sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.45;
}

img {
    height: 100%;
}

a, button {
    cursor: pointer;
}
