.app-header {
    display: flex;
    z-index: 10;
    position: sticky;
    top: 0;
    height: 5rem;
    background-color: rgba(20, 30, 48, .75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
}

.app-header-logo-container {
    display: flex;
    z-index: -1;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.app-header-logo {
    height: 3rem;
    transition: filter 0.5s;
}

.app-header-logo:hover {
    filter: drop-shadow(0 0 0.3rem var(--main-brand-color));
}

.app-header-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 100%;
    overflow: hidden;
}

.app-header-item img {
    width: 30%;
    height: 30%;
}

.app-header-item:active {
    background: var(--main-brand-color);
}

.app-header-item[disabled=true] {
    display: none;
}

.app-header-item::after {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 50%;
    left: -20%;
    width: 0;
    height: 110%;
    transform: skewX(15deg);
    background: var(--main-brand-color);
    content: '';
    transition: 0.36s;
}

.app-header-item:hover::after {
    left: -20%;
    width: 100%;
    width: 130%;
}
