<link rel="stylesheet" href="./app-header.css">

<template>
    <header class="app-header">
        <a class="app-header-item" data-app-header-previous disabled="true">
            <img src="./assets/arrow-left-icon.svg" alt="">
        </a>
        <a class="app-header-item" data-app-header-add-plugin disabled="true">
            <img src="./assets/plus-icon.svg" alt="">
        </a>

        <div class="app-header-logo-container">
            <img class="app-header-logo" src="./assets/ayria-logo.png" alt="Ayria logo">
        </div>
    </header>
</template>
