.app-header {
    background-color: #000;
    display: flex;
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.app-header-logo-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.app-header-logo {
    height: 3rem;
    transition: filter 0.5s;
}

.app-header-logo:hover {
    filter: drop-shadow(0 0 0.3rem #1ca6df);
}

.app-header-item {
    height: 100%;
    width: 6rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header-item img {
    width: 30%;
    height: 30%;
}

.app-header-item:active {
    background: #1997cc;
    color: black;
}

.app-header-item[disabled=true] {
    display: none;
}

.app-header-item::after {
    background: #1ca6df;
    bottom: 0;
    content: '';
    height: 110%;
    left: 50%;
    left: -20%;
    position: absolute;
    transform: skewX(15deg);
    transition: 0.36s;
    width: 0;
    z-index: -1;
}

.app-header-item:hover::after {
    left: -20%;
    width: 100%;
    width: 130%;
}
